In [1]:
import pandas as pd

In [4]:
bikes_full = pd.read_csv('JC-201808-citibike-tripdata.csv')
bikes_full.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,903,2018-08-01 06:40:33.3610,2018-08-01 06:55:37.1060,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,29612,Subscriber,1977,1
1,78,2018-08-01 08:21:00.1450,2018-08-01 08:22:18.6310,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29791,Subscriber,1975,1
2,405,2018-08-01 08:43:52.5150,2018-08-01 08:50:37.6140,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29571,Subscriber,1973,1
3,155,2018-08-01 09:48:24.9450,2018-08-01 09:51:00.9360,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29504,Subscriber,1971,1
4,453,2018-08-01 12:15:35.1230,2018-08-01 12:23:08.8880,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,33669,Subscriber,1993,1

In [10]:
bikes_start = bikes_full[['start station name','start station latitude','start station longitude']]
bikes_start.head()

  start station name  start station latitude  start station longitude
0     Exchange Place               40.716247               -74.033459
1     Exchange Place               40.716247               -74.033459
2     Exchange Place               40.716247               -74.033459
3     Exchange Place               40.716247               -74.033459
4     Exchange Place               40.716247               -74.033459

In [11]:
bikes_start['position']='start'
bikes_start.head()

/anaconda2/envs/DataPython/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  start station name  start station latitude  start station longitude position
0     Exchange Place               40.716247               -74.033459    start
1     Exchange Place               40.716247               -74.033459    start
2     Exchange Place               40.716247               -74.033459    start
3     Exchange Place               40.716247               -74.033459    start
4     Exchange Place               40.716247               -74.033459    start

In [14]:
bikes_start=bikes_start.rename(columns={'start station name':'station name', 'start station latitude':"station latitude",'start station longitude':'station longitude'})

In [15]:
bikes_start.count()

station name         44432
station latitude     44432
station longitude    44432
position             44432
dtype: int64

In [16]:
bikes_end = bikes_full[['end station name','end station latitude','end station longitude']]
bikes_end.head()

  end station name  end station latitude  end station longitude
0  Jersey & 6th St             40.725289             -74.045572
1      Paulus Hook             40.714145             -74.033552
2     Newport PATH             40.727224             -74.033759
3   Columbus Drive             40.718355             -74.038914
4     Manila & 1st             40.721651             -74.042884

In [17]:
bikes_end['position']='end'
bikes_end.head()

/anaconda2/envs/DataPython/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

  end station name  end station latitude  end station longitude position
0  Jersey & 6th St             40.725289             -74.045572      end
1      Paulus Hook             40.714145             -74.033552      end
2     Newport PATH             40.727224             -74.033759      end
3   Columbus Drive             40.718355             -74.038914      end
4     Manila & 1st             40.721651             -74.042884      end

In [18]:
bikes_end=bikes_end.rename(columns={'end station name':'station name', 'end station latitude':"station latitude",'end station longitude':'station longitude'})
bikes_end.count()

station name         44432
station latitude     44432
station longitude    44432
position             44432
dtype: int64

In [60]:
js_bikes = pd.concat([bikes_start, bikes_end], ignore_index=True)
js_bikes.count()

station name         88864
station latitude     88864
station longitude    88864
position             88864
dtype: int64

In [61]:
js_bikes.head()

     station name  station latitude  station longitude position
0  Exchange Place         40.716247         -74.033459    start
1  Exchange Place         40.716247         -74.033459    start
2  Exchange Place         40.716247         -74.033459    start
3  Exchange Place         40.716247         -74.033459    start
4  Exchange Place         40.716247         -74.033459    start

In [39]:
# bikes.to_csv('bikes.csv', index=False)

In [74]:
ny_bikes_full = pd.read_csv('201808-citibike-tripdata.csv')
ny_bikes_full.dropna(how='any')

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1
1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1
2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1
3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1
4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1
5,2839,2018-08-01 00:01:02.7170,2018-08-01 00:48:22.0820,468.0,Broadway & W 56 St,40.765265,-73.981923,3495.0,E 114 St & 1 Ave,40.794566,-73.936254,32418,Customer,1969,0
6,172,2018-08-01 00:01:03.5340,2018-08-01 00:03:55.8740,515.0,W 43 St & 10 Ave,40.760094,-73.994618,529.0,W 42 St & 8 Ave,40.757570,-73.990985,31108,Subscriber,1975,1
7,1133,2018-08-01 00:01:04.0240,2018-08-01 00:19:57.2430,265.0,Stanton St & Chrystie St,40.722293,-73.991475,3641.0,Broadway & W 25 St,40.742869,-73.989186,28715,Subscriber,1997,1
8,1417,2018-08-01 00:01:18.0950,2018-08-01 00:24:55.4450,472.0,E 32 St & Park Ave,40.745712,-73.981948,351.0,Front St & Maiden Ln,40.705310,-74.006126,26991,Subscriber,1994,1
9,195,2018-08-01 00:01:19.6090,2018-08-01 00:04:35.4160,3151.0,E 81 St & York Ave,40.772838,-73.949892,3156.0,E 72 St & York Ave,40.766638,-73.953483,24969,Subscriber,1993,1
10,1093,2018-08-01 00:01:21.5350,2018-08-01 00:19:35.3670,432.0,E 7 St & Avenue A,40.726218,-73.983799,3070.0,McKibbin St & Manhattan Ave,40.705109,-73.944073,29398,Customer,1989,1
11,711,2018-08-01 00:01:23.3260,2018-08-01 00:13:14.7430,328.0,Watts St & Greenwich St,40.724055,-74.009660,361.0,Allen St & Hester St,40.716059,-73.991908,29180,Subscriber,1972,1
12,1061,2018-08-01 00:01:31.7270,2018-08-01 00:19:13.1710,3506.0,Lexington Ave & E 120 St,40.801307,-73.939817,3350.0,W 100 St & Broadway,40.797372,-73.970412,33272,Subscriber,1965,1
13,281,2018-08-01 00:01:40.6620,2018-08-01 00:06:22.3410,465.0,Broadway & W 41 St,40.755136,-73.986580,442.0,W 27 St & 7 Ave,40.746647,-73.993915,14633,Subscriber,1988,2
14,255,2018-08-01 00:01:44.9010,2018-08-01 00:06:00.5040,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,3255.0,8 Ave & W 31 St,40.750585,-73.994685,26097,Subscriber,1985,1
15,810,2018-08-01 00:01:47.9830,2018-08-01 00:15:18.3460,3142.0,1 Ave & E 62 St,40.761227,-73.960940,507.0,E 25 St & 2 Ave,40.739126,-73.979738,20193,Subscriber,1990,2
16,804,2018-08-01 00:01:56.2110,2018-08-01 00:15:20.4330,2010.0,Grand St & Greene St,40.721655,-74.002347,285.0,Broadway & E 14 St,40.734546,-73.990741,24918,Subscriber,1990,1
17,681,2018-08-01 00:01:54.5360,2018-08-01 00:13:16.1590,467.0,Dean St & 4 Ave,40.683125,-73.978951,3673.0,Dean St & Franklin Ave,40.677592,-73.955637,20582,Subscriber,1984,1
18,578,2018-08-01 00:02:10.3260,2018-08-01 00:11:49.0890,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,445.0,E 10 St & Avenue A,40.727408,-73.981420,20589,Customer,1994,1
19,375,2018-08-01 00:02:08.9410,2018-08-01 00:08:24.8370,3085.0,Roebling St & N 4 St,40.714690,-73.957390,3083.0,Bushwick Ave & Powers St,40.712477,-73.941000,25174,Subscriber,1984,1
20,1000,2018-08-01 00:02:10.1860,2018-08-01 00:18:50.4480,472.0,E 32 St & Park Ave,40.745712,-73.981948,312.0,Allen St & Stanton St,40.722055,-73.989111,27997,Customer,1969,0
21,745,2018-08-01 00:02:14.7610,2018-08-01 00:14:40.3280,498.0,Broadway & W 32 St,40.748549,-73.988084,482.0,W 15 St & 7 Ave,40.739355,-73.999318,32116,Subscriber,1987,1
22,441,2018-08-01 00:02:19.9000,2018-08-01 00:09:41.3540,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,251.0,Mott St & Prince St,40.723180,-73.994800,28238,Subscriber,1982,1
23,382,2018-08-01 00:02:21.4540,2018-08-01 00:08:44.3900,285.0,Broadway & E 14 St,40.734546,-73.990741,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,26538,Subscriber,1969,1
24,735,2018-08-01 00:02:34.4290,2018-08-01 00:14:49.6000,474.0,5 Ave & E 29 St,40.745168,-73.986831,479.0,9 Ave & W 45 St,40.760193,-73.991255,20017,Subscriber,1980,2
25,282,2018-08-01 00:02:35.6500,2018-08-01 00:07:18.5230,3255.0,8 Ave & W 31 St,40.750585,-73.994685,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,30093,Subscriber,1975,1
26,122,2018-08-01 00:02:36.3220,2018-08-01 00:04:38.3670,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,432.0,E 7 St & Avenue A,40.726218,-73.983799,16517,Subscriber,1954,1
27,622,2018-08-01 00:02:43.9950,2018-08-01 00:13:06.5090,3690.0,Park Pl & Church St,40.713342,-74.009355,401.0,Allen St & Rivington St,40.720196,-73.989978,20371,Subscriber,1974,1
28,356,2018-08-01 00:02:46.9560,2018-08-01 00:08:43.3260,401.0,Allen St & Rivington St,40.720196,-73.989978,2009.0,Catherine St & Monroe St,40.711174,-73.996826,30892,Subscriber,1973,1
29,261,2018-08-01 00:02:51.3020,2018-08-01 00:07:13.1450,265.0,Stanton St & Chrystie St,40.722293,-73.991475,326.0,E 11 St & 1 Ave,40.729538,-73.984267,14992,Subscriber,1960,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1977147,480,2018-08-31 23:58:04.4580,2018-09-01 00:06:04.9950,174.0,E 25 St & 1 Ave,40.738177,-73.977387,326.0,E 11 St & 1 Ave,40.729538,-73.984267,28774,Subscriber,1953,2
1977148,1841,2018-08-31 23:58:07.4200,2018-09-01 00:28:49.3330,3656.0,E 2 St & Avenue A,40.723077,-73.985836,436.0,Hancock St & Bedford Ave,40.682166,-73.953990,29366,Subscriber,1988,1
1977149,1778,2018-08-31 23:58:14.8730,2018-09-01 00:27:53.0850,3178.0,Riverside Dr & W 78 St,40.784145,-73.983625,3256.0,Pier 40 - Hudson River Park,40.727714,-74.011296,30525,Subscriber,1994,1
1977150,797,2018-08-31 23:58:19.2840,2018-09-01 00:11:36.6910,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,244.0,Willoughby Ave & Hall St,40.691960,-73.965369,17904,Subscriber,1971,1
1977151,2421,2018-08-31 23:58:22.1050,2018-09-01 00:38:43.6320,3166.0,Riverside Dr & W 72 St,40.780578,-73.985624,3167.0,Amsterdam Ave & W 73 St,40.779668,-73.980930,27522,Subscriber,1994,1
1977152,880,2018-08-31 23:58:23.9750,2018-09-01 00:13:04.0990,2002.0,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,3069.0,Lorimer St & Broadway,40.704118,-73.948186,28951,Subscriber,1982,1
1977153,318,2018-08-31 23:58:29.2090,2018-09-01 00:03:47.5230,3632.0,E 12 St & Avenue B,40.728049,-73.978812,301.0,E 2 St & Avenue B,40.722174,-73.983688,34037,Subscriber,1972,2
1977154,469,2018-08-31 23:58:30.2660,2018-09-01 00:06:19.4810,3675.0,3 Ave & E 95 St,40.784597,-73.949685,3493.0,E 118 St & 3 Ave,40.799139,-73.938915,20880,Subscriber,1988,2
1977155,1403,2018-08-31 23:58:31.6990,2018-09-01 00:21:55.0020,254.0,W 11 St & 6 Ave,40.735324,-73.998004,515.0,W 43 St & 10 Ave,40.760094,-73.994618,25216,Customer,1969,0
1977156,1391,2018-08-31 23:58:32.1190,2018-09-01 00:21:43.2600,254.0,W 11 St & 6 Ave,40.735324,-73.998004,515.0,W 43 St & 10 Ave,40.760094,-73.994618,19287,Customer,1969,0
1977157,379,2018-08-31 23:58:33.6110,2018-09-01 00:04:52.7910,3570.0,35 Ave & 37 St,40.755733,-73.923661,3605.0,31 Ave & Crescent St,40.765835,-73.926547,32166,Subscriber,1989,1
1977158,457,2018-08-31 23:58:35.9280,2018-09-01 00:06:13.0990,460.0,S 4 St & Wythe Ave,40.712859,-73.965903,3102.0,Driggs Ave & Lorimer St,40.721791,-73.950415,25288,Subscriber,1989,1
1977159,536,2018-08-31 23:58:38.5330,2018-09-01 00:07:34.5560,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,3425.0,2 Ave & E 104 St,40.789210,-73.943708,28702,Subscriber,1976,1
1977160,613,2018-08-31 23:58:39.3150,2018-09-01 00:08:53.0250,3093.0,N 6 St & Bedford Ave,40.717452,-73.958509,3117.0,Franklin St & Dupont St,40.735640,-73.958660,25078,Subscriber,1989,1
1977161,863,2018-08-31 23:58:41.8110,2018-09-01 00:13:05.4710,537.0,Lexington Ave & E 24 St,40.740259,-73.984092,441.0,E 52 St & 2 Ave,40.756014,-73.967416,31654,Subscriber,1968,2
1977162,1248,2018-08-31 23:58:43.1400,2018-09-01 00:19:31.6490,321.0,Cadman Plaza E & Red Cross Pl,40.699918,-73.989718,217.0,Old Fulton St,40.702772,-73.993836,16951,Customer,1986,1
1977163,535,2018-08-31 23:58:42.6590,2018-09-01 00:07:37.8840,3671.0,E 81 St & 2 Ave,40.774779,-73.954275,3425.0,2 Ave & E 104 St,40.789210,-73.943708,20171,Subscriber,1973,1
1977164,679,2018-08-31 23:58:46.8160,2018-09-01 00:10:06.5820,3256.0,Pier 40 - Hudson River Park,40.727714,-74.011296,238.0,Bank St & Washington St,40.736197,-74.008592,25619,Subscriber,1996,1
1977165,1031,2018-08-31 23:58:56.2480,2018-09-01 00:16:07.3250,229.0,Great Jones St,40.727434,-73.993790,2010.0,Grand St & Greene St,40.721655,-74.002347,31941,Subscriber,1965,1
1977166,309,2018-08-31 23:58:57.4730,2018-09-01 00:04:07.3930,493.0,W 45 St & 6 Ave,40.756800,-73.982912,469.0,Broadway & W 53 St,40.763441,-73.982681,31292,Subscriber,1992,1
1977167,750,2018-08-31 23:58:58.9670,2018-09-01 00:11:29.3520,3573.0,35 St & 34 Ave,40.758058,-73.924275,3560.0,28 St & 38 Ave,40.754876,-73.934326,30325,Subscriber,1964,2
1977168,617,2018-08-31 23:59:14.7930,2018-09-01 00:09:32.6400,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3150.0,E 85 St & York Ave,40.775369,-73.948034,31396,Subscriber,1985,1
1977169,164,2018-08-31 23:59:16.1240,2018-09-01 00:02:00.1300,3077.0,Stagg St & Union Ave,40.708771,-73.950953,3453.0,Devoe St & Lorimer St,40.713352,-73.949103,26644,Subscriber,1995,1
1977170,730,2018-08-31 23:59:19.3340,2018-09-01 00:11:30.1830,3573.0,35 St & 34 Ave,40.758058,-73.924275,3560.0,28 St & 38 Ave,40.754876,-73.934326,16376,Subscriber,1970,1
1977171,63,2018-08-31 23:59:19.4570,2018-09-01 00:00:22.9470,143.0,Clinton St & Joralemon St,40.692395,-73.993379,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,28046,Subscriber,1964,1
1977172,592,2018-08-31 23:59:27.6530,2018-09-01 00:09:20.5800,2003.0,1 Ave & E 18 St,40.733812,-73.980544,518.0,E 39 St & 2 Ave,40.747804,-73.973442,33086,Subscriber,1996,1
1977173,451,2018-08-31 23:59:42.8400,2018-09-01 00:07:14.5330,249.0,Harrison St & Hudson St,40.718710,-74.009001,2008.0,Little West St & 1 Pl,40.705693,-74.016777,33066,Subscriber,1960,1
1977174,472,2018-08-31 23:59:48.5310,2018-09-01 00:07:41.0410,450.0,W 49 St & 8 Ave,40.762272,-73.987882,281.0,Grand Army Plaza & Central Park S,40.764397,-73.973715,28711,Subscriber,1966,1
1977175,1239,2018-08-31 23:59:50.7620,2018-09-01 00:20:30.4570,3107.0,Bedford Ave & Nassau Ave,40.723117,-73.952123,372.0,Franklin Ave & Myrtle Ave,40.694546,-73.958014,33935,Subscriber,1984,1
1977176,738,2018-08-31 23:59:55.7330,2018-09-01 00:12:14.0300,504.0,1 Ave & E 16 St,40.732219,-73.981656,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,28440,Subscriber,1970,1

In [56]:
ny_bikes_start = ny_bikes_full[['start station name','start station latitude','start station longitude']]
ny_bikes_start['position']='start'
ny_bikes_end = ny_bikes_full[['end station name','end station latitude','end station longitude']]
ny_bikes_end['position']='end'

ny_bikes_end.head()

/anaconda2/envs/DataPython/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda2/envs/DataPython/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,end station name,end station latitude,end station longitude,position
0,Cathedral Pkwy & Broadway,40.804213,-73.966991,end
1,E 27 St & 1 Ave,40.739445,-73.976806,end
2,Broadway & E 14 St,40.734546,-73.990741,end
3,Lafayette Ave & St James Pl,40.688515,-73.964763,end
4,31 St & Hoyt Ave N,40.771153,-73.917007,end

In [57]:
ny_bikes_start=ny_bikes_start.rename(columns={'start station name':'station name', 'start station latitude':"station latitude",'start station longitude':'station longitude'})

In [58]:
ny_bikes_end=ny_bikes_end.rename(columns={'end station name':'station name', 'end station latitude':"station latitude",'end station longitude':'station longitude'})

In [59]:
ny_bikes = pd.concat([ny_bikes_start, ny_bikes_end], ignore_index=True)
ny_bikes.head()

              station name  station latitude  station longitude position
0       W 78 St & Broadway         40.783400         -73.980931    start
1  Mercer St & Bleecker St         40.727064         -73.996621    start
2           E 2 St & 2 Ave         40.725029         -73.990697    start
3  Fulton St & Waverly Ave         40.683239         -73.965996    start
4     31 Ave & Steinway St         40.761294         -73.916917    start

In [63]:
js_ny_bikes = pd.concat([ny_bikes, js_bikes], ignore_index=True)

In [66]:
js_ny_bikes.to_csv('js_ny_bikes.csv', index=False)